#textdomain wesnoth-Greenwoods_Tears

[scenario]
    id=05_Crelanus_Legacy
    name= _ "Crelanu’s Legacy"
    map_file=05_Crelanus_Legacy.map
    turns=18
    next_scenario=06_Revelations

    random_start_time=no
    allow_new_game=yes
    new_game_title= _ "Chapter Two: Face of the Enemy"
    force_lock_settings=yes

    {NORTHERN_SCHEDULE_AFTERNOON}

    {INTRO_AND_SCENARIO_MUSIC knolls.ogg siege_of_laurelmor.ogg}
    {EXTRA_SCENARIO_MUSIC vengeful.ogg}
    {EXTRA_SCENARIO_MUSIC the_dangerous_symphony.ogg}

    {GWT_DEATHS}

    # TODO: Intro
    [story]
        [part]
            title= _ "<i>Greenwood’s Tears</i>
Chapter Two"
        [/part]
        [part]
            title= _ "Chapter Two
<i>Face of the Enemy</i>"
        [/part]
    [/story]

    {GWT_TRACK {JOURNEY_05_NEW} }

    # wmllint: validate-off
    [side]
        side=1
        {PLAYABLE}

#ifdef MULTIPLAYER
        {GOLD 90 80 70}
        income=2
#else
        {GOLD 160 140 120}
        income=4
#endif

        # wmllint: recognize Arwen
        {CHARACTER_STATS_ARWEN}
    [/side]
    # wmllint: validate-on

    # wmllint: skip-side
    {MP_SIDE 2 (
        {PLAYABLE}

        {GOLD 90 80 70}
        income=2

        # wmllint: recognize Grunk
        {CHARACTER_STATS_GRUNK}
        experience=10
    )}

    [side]
        side=3
        {UNPLAYABLE}
        team_name=player
        user_team_name= _ "team_name^Seer"
        {FLAG_VARIANT wood-elvish}

        {GOLD 160 150 140}
        recruit=Gryphon,Wose

        [ai]
            passive_leader=yes
            grouping=no
            recruitment_pattern=scout,fighter
        [/ai]

        type=Wose Shaman
        id=Seer
        name= _ "Seer"
        canrecruit=yes
        facing=sw

        [unit]
            # wmllint: recognize Kalenz
            {CHARACTER_STATS_KALENZ}
            x,y=23,3
            facing=sw
            ai_special=guardian
        [/unit]
    [/side]
    {LIMIT_CONTEMPORANEOUS_RECRUITS 3 (Gryphon) 2}

    [side]
        side=4
        {UNPLAYABLE}
        team_name=undead
        user_team_name= _ "team_name^Undead"
        {FLAG_VARIANT undead}

        {GOLD 180 200 220}
        income=25
        recruit=Skeleton,Skeleton Archer,Ghoul

        [ai]
            passive_leader=yes
            grouping=no
            aggression=0.9
            recruitment_pattern=fighter,archer

            [goal]
                name=target
                [criteria]
                    id=Arwen
                [/criteria]
                value=15
            [/goal]
            [goal]
                name=target
                [criteria]
                    id=Seer
                [/criteria]
                value=5
            [/goal]
        [/ai]

        type=Draug
        canrecruit=yes
        facing=ne
    [/side]

    {STARTING_VILLAGES 1 4}
#ifdef MULTIPLAYER
    {STARTING_VILLAGES 2 4}
#endif
    {STARTING_VILLAGES 3 8}
    {STARTING_VILLAGES 4 6}

    {AMBIENT_CAMPFIRE 25 16}

    [event]
        name=prestart

#ifndef MULTIPLAYER
        [unit]
            side=1
            {CHARACTER_STATS_GRUNK}
            experience=10
            x,y=28,16
        [/unit]
#endif

        {PLACE_IMAGE items/bones.png 3 8}
        {PLACE_IMAGE items/bones.png 7 7}

        # Signpost indicating geography
        {PLACE_IMAGE scenery/signpost.png 12 13}

        [objectives]
            [objective]
                description= _ "Survive for three days"
                condition=win
            [/objective]
            {ALTERNATIVE_OBJECTIVE_BONUS ( _ "Defeat the undead leader")}
            [objective]
                description= _ "Death of Arwen, Grunk, or Ellrea"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Kalenz or the Seer"
                condition=lose
            [/objective]

            [gold_carryover]
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]

    #
    # JUST A STUB!
    #

    [event]
        name=start
        [unit]
            side=1
            # wmllint: recognize Ellrea
            {CHARACTER_STATS_ELLREA}
            x,y=27,16
            facing=sw
            animate=yes
        [/unit]
        [unit]
#ifdef MULTIPLAYER
            side=2
#else
            side=1
#endif
            # wmllint: recognize Helenē
            {CHARACTER_STATS_HELENE}
            x,y=28,15
            facing=sw
            animate=yes
        [/unit]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1,2
            x,y=12,13
        [/filter]

        [allow_undo][/allow_undo]

        [message]
            speaker=narrator
            message= _ "To the Mourned Hills"
            image=scenery/signpost.png
        [/message]

        {ACHIEVE_PROGRESS wanderer 1 4}
        [floating_text]
            x,y=$x1,$y1
            text= _ "+1 signpost"
        [/floating_text]
    [/event]

    [event]
        name=time over
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

    [event]
        name=enemies defeated

        {ACHIEVE s05}

        [endlevel]
            result=victory
#ifdef MULTIPLAYER
            bonus=0.5
#else
            bonus=yes
#endif
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

    [event]
        name=victory
        {MODIFY_UNIT (id=Kalenz) side 1}
    [/event]
[/scenario]
