#textdomain wesnoth-Greenwoods_Tears

#define SPAWN_GHOSTS
    [random_placement]
        num_items={ON_DIFFICULTY 2 3 3}
        variable=loc
        min_distance=0
        [filter_location]
            terrain=Ww^Qhux
        [/filter_location]
        [command]
            {RANDOM (Ghost,Ghost,Ghost,Wraith)}
            [unit]
                side=4
                type=$random
                moves=0
                x,y=$loc.x,$loc.y
                facing=se
                upkeep=loyal
                animate=yes
            [/unit]
            {CLEAR_VARIABLE random}
        [/command]
    [/random_placement]
#enddef

[scenario]
    id=05_Crelanus_Legacy
    name= _ "Crelanu’s Legacy"
    map_file=05_Crelanus_Legacy.map
    turns=18
    next_scenario=06_Revelations

    random_start_time=no
    allow_new_game=no
    force_lock_settings=yes

    victory_when_enemies_defeated=no

    {NORTHERN_SCHEDULE_AFTERNOON}

    {INTRO_AND_SCENARIO_MUSIC knolls.ogg siege_of_laurelmor.ogg}
    {EXTRA_SCENARIO_MUSIC vengeful.ogg}
    {EXTRA_SCENARIO_MUSIC the_dangerous_symphony.ogg}

    {GWT_DEATHS}

    # TODO: Intro
    [story]
        [part]
            title= _ "<i>Greenwood’s Tears</i>
Chapter Two"
        [/part]
        [part]
            title= _ "Chapter Two
<i>Tears, or the Betrayer</i>"
        [/part]
    [/story]

    {GWT_TRACK {JOURNEY_05_NEW} }

    # wmllint: validate-off
    [side]
        side=1
        {PLAYABLE}

#ifdef MULTIPLAYER
        {GOLD 90 80 70}
        income=2
#else
        {GOLD 160 140 120}
        income=4
#endif

        # wmllint: recognize Arwen
        {CHARACTER_STATS_ARWEN}
    [/side]
    # wmllint: validate-on

    # wmllint: skip-side
    {MP_SIDE 2 (
        {PLAYABLE}

        {GOLD 90 80 70}
        income=2

        # wmllint: recognize Grunk
        {CHARACTER_STATS_GRUNK}
        experience=10
    )}

    [side]
        side=3
        {UNPLAYABLE}
        team_name=seer
        user_team_name= _ "team_name^Seer"
        {FLAG_VARIANT wood-elvish}

        {GOLD 160 150 140}
        recruit=Gryphon,Wose

        [ai]
            passive_leader=yes
            grouping=no
            caution=0.5
            recruitment_pattern=scout,fighter

            [goal]
                name=protect_unit
                [criteria]
                    id=Seer
                [/criteria]
                value=10
                protect_radius=8
            [/goal]
        [/ai]

        type=Wose Shaman
        id=Seer
        name= _ "Seer"
        canrecruit=yes
        facing=sw

        [unit]
            # wmllint: recognize Kalenz
            {CHARACTER_STATS_KALENZ}
            x,y=23,3
            facing=sw
            ai_special=guardian
        [/unit]
    [/side]
    {LIMIT_CONTEMPORANEOUS_RECRUITS 3 (Gryphon) 2}

    [event]
        name=side 3 turn refresh
        first_time_only=no
        [modify_unit]
            [filter]
                side=3
                id=Kalenz
            [/filter]
            moves=0
        [/modify_unit]
    [/event]

    [side]
        side=4
        {UNPLAYABLE}
        team_name=undead
        user_team_name= _ "team_name^Undead"
        {FLAG_VARIANT undead}

        {GOLD 170 190 210}
        income=25
        recruit=Walking Corpse,Soulless,Skeleton Archer,Ghoul

        [ai]
            passive_leader=yes
            grouping=no
            aggression=0.9
            recruitment_pattern=fighter,fighter,fighter,fighter,archer

            [goal]
                name=target
                [criteria]
                    id=Arwen
                [/criteria]
                value=15
            [/goal]
            [goal]
                name=target
                [criteria]
                    id=Seer
                [/criteria]
                value=10
            [/goal]
        [/ai]

        type=Draug
        id=Lal-Yaual
        name= _ "Lal-Yaual"
        canrecruit=yes
        facing=ne

        [modifications]
            {TRAIT_RESILIENT}
        [/modifications]

        {LOYAL_UNIT 3 (Soulless) 6 5} {FACING ne}
        {LOYAL_UNIT 3 (Skeleton) 7 7} {FACING se}
        {LOYAL_UNIT 3 (Skeleton) 8 7} {FACING se}
        {LOYAL_UNIT 3 (Skeleton) 5 9} {FACING se}
    [/side]
    {LIMIT_CONTEMPORANEOUS_RECRUITS 4 (Ghoul) 3}

    {STARTING_VILLAGES 1 4}
#ifdef MULTIPLAYER
    {STARTING_VILLAGES 2 4}
#endif
    {STARTING_VILLAGES 3 8}
    {STARTING_VILLAGES 4 6}

    {AMBIENT_CAMPFIRE 25 16}

    [event]
        name=prestart

#ifndef MULTIPLAYER
        [unit]
            side=1
            {CHARACTER_STATS_GRUNK}
            experience=10
            x,y=28,16
        [/unit]
#endif

        {PLACE_IMAGE items/bones.png 3 8}
        {PLACE_IMAGE items/bones.png 7 7}

        # Signpost indicating geography
        {PLACE_IMAGE scenery/signpost.png 12 13}

        [hide_unit]
            side=4
        [/hide_unit]

        [objectives]
            [objective]
                description= _ "Survive for three days"
                condition=win
            [/objective]
            {ALTERNATIVE_OBJECTIVE_BONUS ( _ "Defeat the undead leader")}
            [objective]
                description= _ "Death of Arwen, Grunk, or Ellrea"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Kalenz or the Seer"
                condition=lose
            [/objective]

            [note]
                description= _ "..."
                [show_if]
                    [have_unit]
                        [filter_side]
                            side=3
                            team_name=seer
                        [/filter_side]
                    [/have_unit]
                [/show_if]
            [/note]

            [gold_carryover]
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]

    #
    # JUST A STUB!
    #

    [event]
        name=start
        [message]
            speaker=Arwen
            message= _ "..."
        [/message]

        [unit]
            side=1
            # wmllint: recognize Ellrea
            {CHARACTER_STATS_ELLREA}
            x,y=27,16
            facing=sw
            animate=yes
        [/unit]
        [unit]
#ifdef MULTIPLAYER
            side=2
#else
            side=1
#endif
            # wmllint: recognize Helena
            {CHARACTER_STATS_HELENA}
            x,y=28,15
            facing=sw
            animate=yes
        [/unit]

        [message]
            speaker=Arwen
            message= _ "..."
        [/message]

        [unhide_unit][/unhide_unit]

        {SCROLL_TO 4 7}
        {DELAY 1000}

        [scroll_to_unit]
            id=Kalenz
        [/scroll_to_unit]

        [message]
            speaker=Kalenz
            message= _ "..."
        [/message]
        [message]
            speaker=Seer
            message= _ "..."
        [/message]
        [message]
            speaker=Kalenz
            message= _ "..."
        [/message]
    [/event]

    [event]
        name=last breath
        first_time_only=no

        [filter]
            side=3
            [not]
                id=Kalenz,Seer
            [/not]
        [/filter]
        [filter_second]
            side=1,2
        [/filter_second]

        [fire_event]
            name=wose defeated
        [/fire_event]

        # {MOVE_UNIT (id=$unit.id) 22 2}

        [kill]
            id=$unit.id
            fire_event=no
        [/kill]

        [redraw][/redraw]
    [/event]

    [event]
        name=wose defeated
        [message]
            speaker=Arwen
            message= _ "..."
            scroll=no
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1,2
            race=elf
            [filter_adjacent]
                id=Kalenz,Seer
            [/filter_adjacent]
        [/filter]

        [message]
            speaker=unit
            message= _ "..."
        [/message]
        [message]
            speaker=Kalenz
            message= _ "..."
        [/message]
        [message]
            speaker=Seer
            message= _ "..."
        [/message]

        [modify_side]
            side=3
            team_name=player
        [/modify_side]

        {MODIFY_UNIT (id=Kalenz) side 1}

        [redraw][/redraw]

        [show_objectives][/show_objectives]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1,2
            x,y=12,13
        [/filter]

        [allow_undo][/allow_undo]

        [message]
            speaker=narrator
            message= _ "To the Mourned Hills"
            image=scenery/signpost.png
        [/message]

        {ACHIEVE_PROGRESS wanderer 1 4}
        [floating_text]
            x,y=$x1,$y1
            text= _ "+1 signpost"
        [/floating_text]
    [/event]

    [event]
        name=attack
        [filter]
            id=Kalenz
        [/filter]
        [filter_second]
            race=undead
        [/filter_second]
        [message]
            speaker=unit
            message= _ "..."
        [/message]
    [/event]

    [event]
        name=side 4 turn 3 refresh

        {SPAWN_GHOSTS}
        [event]
            name=side 4 turn refresh
            first_time_only=no
            {SPAWN_GHOSTS}
        [/event]

        {DELAY 750}

        [message]
            speaker=Grunk
            message= _ "..."
            scroll=no
        [/message]
    [/event]

    [event]
        name=time over
        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

    [event]
        name=die
        [filter]
            id=Lal-Yaual
        [/filter]

        [message]
            speaker=Kalenz
            message= _ "..."
        [/message]

        [animate_unit]
            [filter]
                id=Kalenz
            [/filter]
            flag=attack
            hits=yes
            [primary_attack]
                name=faerie fire
            [/primary_attack]
            [facing]
                x,y=4,7
            [/facing]
        [/animate_unit]

        [redraw][/redraw]

        {FLASH_LIGHTNING (
            [kill]
                side=4
                fire_event=no
            [/kill]
        )}

        [redraw][/redraw]

        {QUAKE (rumble.ogg)}
        {QUAKE (rumble.ogg)}

        {DELAY 1000}

        {ACHIEVE s05}

        [endlevel]
            result=victory
#ifdef MULTIPLAYER
            bonus=0.5
#else
            bonus=yes
#endif
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

    [event]
        name=victory

        [modify_side]
            side=3
            team_name=player
        [/modify_side]

        [redraw][/redraw]

        [message]
            speaker=Arwen
            message= _ "..."
        [/message]
        [message]
            speaker=Kalenz
            message= _ "..."
        [/message]

        {MODIFY_UNIT (id=Kalenz) side 1}
    [/event]

    [event]
        name=last breath
        [filter]
            id=Seer
        [/filter]
        [message]
            speaker=unit
            message= _ "..."
        [/message]
    [/event]
    [event]
        name=die
        [filter]
            id=Seer
        [/filter]
        [message]
            speaker=Kalenz
            message= _ "..."
        [/message]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
[/scenario]

#undef SPAWN_GHOSTS
