#textdomain wesnoth-Greenwoods_Tears

[scenario]
    id=06_Revelations
    name= _ "Revelations"
    map_file=06_Revelations.map
    {TURNS 29 27 25}
    next_scenario=07_Where_the_River_Begins

    random_start_time=no
    allow_new_game=no
    force_lock_settings=yes

    victory_when_enemies_defeated=no

    {NORTHERN_SCHEDULE_SECOND_WATCH}

    {CONTINUOUS_SCENARIO_MUSIC transience.ogg underground.ogg}

    {GWT_DEATHS}

    {GWT_TRACK {JOURNEY_06_NEW} }

    # wmllint: validate-off
    [side]
        side=1
        {PLAYABLE}

#ifdef MULTIPLAYER
        {GOLD 90 80 70}
#else
        {GOLD 160 140 120}
#endif
        fog=yes
        shroud=yes

        # wmllint: recognize Arwen
        {CHARACTER_STATS_ARWEN}
    [/side]
    # wmllint: validate-on

    # wmllint: skip-side
    {MP_SIDE 2 (
        {PLAYABLE}

        {GOLD 90 80 70}
        fog=yes
        shroud=yes

        # wmllint: recognize Grunk
        {CHARACTER_STATS_GRUNK}
    )}

    {AMBIENT_CAMPFIRE 34 4}

    [event]
        name=prestart

#ifndef MULTIPLAYER
        {RECALL_GRUNK 35 3}
#endif

        # wmllint: recognize Ellrea
        {RECALL_ELLREA 35 2}
        # wmllint: recognize Kalenz
        {RECALL_KALENZ 34 3}
        # wmllint: recognize Helena
        {RECALL_HELENA 36 1}

        # Gateway to the west
        {PLACE_IMAGE scenery/monolith4.png 34 22}

        # Signpost indicating geography
        {PLACE_IMAGE scenery/signpost.png 24 20}

        [objectives]
            [objective]
                description= _ "..."
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Arwen, Grunk, or Ellrea"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Kalenz"
                condition=lose
            [/objective]

            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]

    #
    # JUST A STUB!
    #

    [event]
        name=start
        [message]
            speaker=Kalenz
            message= _ "..."
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1,2
            x,y=24,20
        [/filter]

        [allow_undo][/allow_undo]

        [message]
            speaker=narrator
            message= _ "Silent Forest"
            image=scenery/signpost.png
        [/message]
        [message]
            speaker=Kalenz
            message= _ "..."
        [/message]

        {ACHIEVE_PROGRESS wanderer 1 5}
        [floating_text]
            x,y=$x1,$y1
            text= _ "+1 signpost"
        [/floating_text]
    [/event]

    [event]
        name=moveto
        [filter]
            id=Ellrea,Kalenz,Helena
            x,y=34,22
        [/filter]

        [message]
            speaker=unit
            message= _ "..."
        [/message]

        [fire_event]
            name=open sesame
            [primary_unit]
                id=$unit.id
            [/primary_unit]
        [/fire_event]
    [/event]
    [event]
        name=moveto
        [filter]
            id=Arwen
            x,y=34,22
        [/filter]

        [message]
            speaker=unit
            message= _ "..."
        [/message]
        [message]
            speaker=Grunk
            message= _ "..."
        [/message]
        [message]
            speaker=unit
            message= _ "..."
        [/message]

        [fire_event]
            name=open sesame
            [primary_unit]
                id=$unit.id
            [/primary_unit]
        [/fire_event]
    [/event]

    [event]
        name=open sesame
        [message]
            speaker=unit
            message= _ "..."
        [/message]

        {THUNDER (
            {PLACE_IMAGE scenery/monolith4.png 2 25}
        )}

        {DELAY 500}

        {THUNDER (
            [teleport]
                [filter]
                    id=$unit.id
                [/filter]
                x,y=2,25
            [/teleport]
            [scroll_to_unit]
                id=$unit.id
            [/scroll_to_unit]

            [tunnel]
                [filter]
                [/filter]
                [source]
                    x,y=34,22
                [/source]
                [target]
                    x,y=2,25
                [/target]
            [/tunnel]
        )}

        [message]
            speaker=unit
            message= _ "..."
        [/message]
    [/event]

    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1,2
            [not]
                id=Arwen,Ellrea,Kalenz,Helena
            [/not]
            x,y=34,22
        [/filter]

        [allow_undo][/allow_undo]

        [message]
            speaker=unit
            message= _ "..."
        [/message]
    [/event]
[/scenario]
